h2{color: brown !important;}

h1{color: blue;}

/* esto 
* es 
* un
/* comentario */

/* body{background-color: black;}
*{color: white;} 
* sirve para pintar el fondo de negro y las palabras en blanco */

body{background-image: url(./Imagenes/Fondo\ AAAArbol.webp); background-repeat: no-repeat ; background-size: cover;}
